//Pallate specific
$c-light: #F5F3F5;
$c-light-accent: #72AEC4;
$c-main: #497499;
$c-dark-accent: #787F84;
$c-dark: #232836;

//gradient colors
$c-light-accent-transparent: rgba(114, 174, 196, .4);
$c-main-transparent: rgba(73, 116, 153, 1);

// Normal colors
$c-white: rgb(255, 255, 255);
$c-black: rgb(0, 0, 0);
$c-dark-grey: rgb(34, 38, 41);
$c-middle-grey: rgb(71, 75, 79);
$c-light-grey: rgb(107, 110, 112);