<section class="section section__3">
    <h1>Heres a new heading</h1>
    <div class="content content__3">
                <h3>Subheading</h3>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lacinia orci, vel suscipit
                    neque. Nulla a lacus in nunc consectetur laoreet. Cras eu ligula congue, facilisis neque vitae,
                    suscipit urna. Morbi in elit justo. Proin interdum sem tellus, ut imperdiet nibh finibus vel. Nunc
                    libero augue, vulputate eu consectetur eget, interdum ut massa. In eu neque nec lacus tincidunt
                    molestie. Donec auctor justo nisl, quis eleifend eros tempus in. Praesent tristique aliquet leo
                    vitae efficitur. Duis orci libero, porta eu sagittis vel, lobortis eleifend nisi. Sed auctor finibus
                    ante. Donec quis augue eu neque blandit venenatis. Maecenas ac felis a tellus eleifend convallis.
                    Pellentesque in vehicula risus. Donec et mi at mi sollicitudin tempor. Aenean sapien elit, pretium
                    at dapibus quis, lobortis vel purus.</p>
        <div class="content-3__row">
            <span class="parallelogram"></span>
        </div>
                <h3>Subheading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lacinia orci, vel suscipit neque.
                    Nulla a lacus in nunc consectetur laoreet. Cras eu ligula congue, facilisis neque vitae, suscipit
                    urna. Morbi in elit justo. Proin interdum sem tellus, ut imperdiet nibh finibus vel. Nunc libero
                    augue, vulputate eu consectetur eget, interdum ut massa. In eu neque nec lacus tincidunt molestie.
                    Donec auctor justo nisl, quis eleifend eros tempus in. Praesent tristique aliquet leo vitae
                    efficitur. Duis orci libero, porta eu sagittis vel, lobortis eleifend nisi. Sed auctor finibus ante.
                    Donec quis augue eu neque blandit venenatis. Maecenas ac felis a tellus eleifend convallis.
                    Pellentesque in vehicula risus. Donec et mi at mi sollicitudin tempor. Aenean sapien elit, pretium
                    at dapibus quis, lobortis vel purus.</p>
    </div>
</section>