<section class="section section__2">
    <h1>Another Heading</h1>
    <div class="content content__2">
        <div class="content__2__container">
            <div class="content__2__row">
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Item One</h2>
                        <i class="icofont-graduate-alt"></i>
                        <p>Item One Tagline.</p>
                    </div>
                    <div class="card__side card__side--back">
                        <h3>Content One</h3>
                        <div class="card-back-text">
                            <h4>Heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex est, non
                                sagittis sapien sagittis non.</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Item Two</h2>
                        <i class="icofont-electron"></i>
                        <p>Item Two Tagline.</p>
                    </div>
                    <div class="card__side card__side--back">
                        <h3>Content Two</h3>
                        <div class="card-back-text">
                            <h4>Heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex est, non
                                sagittis sapien sagittis non.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Item Three</h2>
                        <i class="icofont-test-tube-alt"></i>
                        <p>Item Three Tagline.</p>
                    </div>
                    <div class="card__side card__side--back">
                        <h3>Content Three</h3>
                        <div class="card-back-text">
                            <h4>Heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex est, non
                                sagittis sapien sagittis non.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content__2__row">
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Item Four</h2>
                        <i class="icofont-atom"></i>
                        <p>Item Four Tagline.</p>
                    </div>
                    <div class="card__side card__side--back">
                        <h3>Content Four</h3>
                        <div class="card-back-text">
                            <h4>Heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex est, non
                                sagittis sapien sagittis non.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Item Five</h2>
                        <i class="icofont-certificate-alt-1"></i>
                        <p class="card-back-text">Item Five Tagline.</p>
                    </div>
                    <div class="card__side card__side--back">
                        <h3>Content Five</h3>
                        <div class="card-back-text">
                            <h4>Heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex est, non
                                sagittis sapien sagittis non.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Item Six</h2>
                        <i class="icofont-brainstorming"></i>
                        <p class="card-back-text">Item Six Tagline.</p>
                    </div>
                    <div class="card__side card__side--back">
                        <h3>Content Six</h3>
                        <div class="card-back-text">
                            <h4>Heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex est, non
                                sagittis sapien sagittis non.</p>
                        </div>
                    </div>
                </div>
            </div>
</section>