<section class="section section__2">
    <h1>Another Heading</h1>
    <div class="content content__2">
        <div class="card-container">
            <div class="card-row">
                  <div class="card">
                    <div class="card__side card__side--front">
                        <h2>College</h2>
                        <i class="icofont-graduate-alt"></i>
                        <p>I went there.</p>
                    </div>
                    <div class="card__side card__side--back">
                        back 3
                    </div>
                </div>
                
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>React</h2>
                        <i class="icofont-electron"></i>
                        <p>I know it. Redux too.</p>
                    </div>
                    <div class="card__side card__side--back">
                        back 2
                    </div>
                </div>
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Chemistry</h2>
                        <i class="icofont-test-tube-alt"></i>
                        <p>We have test tubes</p>
                    </div>
                    <div class="card__side card__side--back">
                        back 3
                    </div>
                </div>
            </div>

            <div class="card-row">
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Creativity</h2>
                        <i class="icofont-atom"></i>
                        <p>Stuff and things</p>
                    </div>
                    <div class="card__side card__side--back">
                        back 1
                    </div>
                </div>
                <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Science</h2>
                        <i class="icofont-certificate-alt-1"></i>
                        <p>Makes you smort.</p>
                    </div>
                    <div class="card__side card__side--back">
                        back 2
                    </div>
                </div>
              <div class="card">
                    <div class="card__side card__side--front">
                        <h2>Creativity</h2>
                        <i class="icofont-brainstorming"></i>
                        <p>Stuff and things</p>
                    </div>
                    <div class="card__side card__side--back">
                        back 1
                    </div>
                </div>
            </div>

</section>