<div class="section section__2">
    <h1>Another Heading</h1>

    <div class="content content__s2">

        <div class="card-row">
            <div class="card">
                <div class="card__side card__side--front">

                </div>
                <div class="card__side card__side--back">

                </div>
            </div>
        </div>
    </div>
</div>