<div class="section section__2">
    <h1>Another Heading</h1>

    <div class="content content__s2">
        <div class="card-container">
            <div class="card-row">

                <div class="col">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <h2>Creativity</h2>
                            <i class="icofont-brainstorming"></i>
                            <p>Some stuff and things</p>
                        </div>
                        <div class="card__side card__side--back">
                            back 1
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <h2>Science</h2>
                            <i class="icofont-electron"></i>
                            <p>Makes you smort.</p>
                        </div>
                        <div class="card__side card__side--back">
                            back 2
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <h2>Chemistry</h2>
                            <i class="icofont-test-tube-alt"></i>
                            <p>We have test tubes</p>
                        </div>
                        <div class="card__side card__side--back">
                            back 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>