<section class="section section__3">
    <h1>Heres a new heading</h1>
    <div class="content content__3">
        <div class="content__3__col">
            <h2>Yo</h2>
        </div>

        <div class="content__3__col">
            <p>yo</p>
        </div>
    </div>
</section>