<section class="section section__1">
    <h1>Hello here is some content</h1>
    <div class="content content__s1">
        <div class="content__s1--text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum in ante et dictum. Fusce
                ac
                neque a odio sodales laoreet quis at ipsum. Duis pulvinar convallis turpis vel efficitur. Duis gravida
                eget
                nisi sed vestibulum. Nunc ut felis urna. Suspendisse vitae posuere mauris, ac convallis sapien. Nullam
                vestibulum sem vel accumsan semper. Nunc elementum euismod lectus. Ut sodales elit ipsum, sit amet
                placerat
            </p>
        </div>
        <div class="content__s1--img">
            <img src="/img/skater.jpg" alt="">
            <h2>Another heading</h2>
            <p>Here you can 'splain something thats maybe a little bit shorter
                than the main text block over to the left
            </p>
        </div>
    </div>
</section>