@mixin header__logo {
    &__logo-container {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        @include z-index(logo);
    }

    &__logo {
        height: 4rem;
    }
};