@import url("https://fonts.googleapis.com/css?family=Baloo|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300|Raleway:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-size: 16px; }

body {
  background: #F5F3F5; }

.u-margin-bottom-xs {
  margin-bottom: .25rem; }

.u-margin-bottom-sm {
  margin-bottom: .5rem; }

.u-margin-bottom-md {
  margin-bottom: .75rem; }

.u-margin-bottom-lg {
  margin-bottom: 1rem; }

.u-margin-bottom-xlg {
  margin-bottom: 1rem; }

.row {
  display: flex;
  flex-direction: row;
  width: 100%; }

.header__logo-container {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2; }

.header__logo {
  height: 4rem; }

.header__shape {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(114, 174, 196, 0.4), #497499), url("/img/header-bg.jpg");
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 90vh;
  z-index: 1; }
  @media (min-height: 768px) {
    .header__shape {
      height: 70vh; } }

.header__titleBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25%;
  transform: translateX(-50%);
  margin-left: 50%;
  z-index: 2; }
  .header__titleBlock h1 {
    color: #F5F3F5;
    font-family: 'Baloo', cursive;
    font-size: 4em;
    text-align: left; }
  .header__titleBlock h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; }

.section h1 {
  padding-bottom: 2%;
  font-size: 2.5em; }
  @media (min-width: 1000px) {
    .section h1 {
      font-size: 3em; } }

.section h2 {
  font-size: 1.75em; }

.section__1 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-color: #F5F3F5;
  padding-bottom: 18%; }
  .section__1 h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center; }
  @media (min-width: 1000px) {
    .section__1 {
      padding-bottom: 10%; } }

.section__2 {
  padding-top: 27%;
  margin-top: -25%;
  background-color: #232836;
  z-index: -1; }
  .section__2 h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white; }

.section__3 {
  padding-top: 1rem;
  background-color: #787F84; }
  .section__3 h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    padding-bottom: 1rem; }

.content__2__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center; }
  @media (min-width: 550px) {
    .content__2__container {
      flex-flow: column;
      align-items: center; } }

.content__2__row {
  display: flex;
  flex-flow: column;
  width: 45vw;
  height: 100%;
  margin: .25rem; }
  @media (min-width: 550px) {
    .content__2__row {
      flex-flow: row;
      justify-content: space-evenly;
      width: 100%; } }

.content-3__container {
  display: flex;
  flex-flow: row;
  justify-content: center; }

.content-3__text {
  display: flex;
  flex-flow: row;
  justify-content: center; }

.content {
  overflow: auto;
  padding: 1rem; }
  @media (min-width: 768px) {
    .content {
      padding: 0 5% 0 5%; } }
  @media (min-width: 850px) {
    .content {
      padding: 0 7% 0 7%; } }
  @media (min-width: 1000px) {
    .content {
      padding: 0 10% 0 10%; } }
  @media (min-width: 1200px) {
    .content {
      padding: 0 15% 0 15%; } }
  .content__1 {
    display: flex;
    flex-flow: row; }
    .content__1 h2 {
      font-family: 'Amatic SC', cursive;
      font-size: 1.75em; }
    .content__1 p {
      font-family: 'Josefin Sans', sans-serif; }
      @media (min-width: 400px) {
        .content__1 p {
          font-size: 1.2em; } }
      @media (min-width: 500px) {
        .content__1 p {
          line-height: 1.6; } }
      @media (min-width: 658px) {
        .content__1 p {
          line-height: 2; } }
    .content__1--text {
      padding: 1rem 0rem 0rem 1rem; }
    .content__1--img {
      padding: 1rem; }
      .content__1--img h2 {
        text-align: right; }
      .content__1--img p {
        text-align: right;
        padding-top: 1.25rem; }
      .content__1--img img {
        width: 50vw;
        padding-bottom: 1.25rem; }
        @media (min-width: 768px) {
          .content__1--img img {
            width: 40vw; } }
        @media (min-width: 980px) {
          .content__1--img img {
            width: 35vw; } }
  .content__2 {
    padding-bottom: 2.5%; }
    .content__2 h2,
    .content__2 h3,
    .content__2 h4 {
      font-family: 'Raleway', sans-serif; }
    .content__2 h2 {
      font-size: 1.5em; }
    .content__2 h3 {
      font-size: 1em; }
    .content__2 h4 {
      font-size: 1em;
      color: white;
      margin-bottom: .25rem; }
    .content__2 p {
      font-family: 'Lato', sans-serif;
      color: white;
      font-size: .8em; }
  .content__3 h2,
  .content__3 h3 {
    font-family: 'Oswald', sans-serif; }
  .content__3 h2 {
    color: white;
    text-align: right;
    padding-right: 5%;
    margin-bottom: 1rem; }
    @media (min-width: 1000px) {
      .content__3 h2 {
        padding-top: 10%; } }
  .content__3 p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-size: .9em;
    color: white; }
    @media (min-width: 400px) {
      .content__3 p {
        line-height: 1.5;
        font-size: 1em; } }
    @media (min-width: 500px) {
      .content__3 p {
        line-height: 1.6; } }
    @media (min-width: 658px) {
      .content__3 p {
        line-height: 2; } }
  .content__3 h3 {
    margin-bottom: 1rem; }
  .content__3 h3:nth-of-type(2) {
    text-align: right; }
  .content__3 .content-3__row img {
    clip-path: circle();
    shape-outside: circle();
    -webkit-shape-outside: circle(); }
  .content__3 .content-3__row--1 img {
    width: 45%;
    margin-right: 10%;
    float: left; }

.badge {
  position: relative;
  width: 75vw;
  height: 8vh; }
  .badge__rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); }
  .badge__circle {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 5rem;
    height: 5rem;
    background: red;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  margin: .25rem; }
  .card__side {
    padding-top: .25rem;
    height: 98%;
    width: 100%;
    max-height: 20rem;
    transition: all .8s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem; }
    @media (min-width: 550px) {
      .card__side {
        width: 28vw; } }
    @media (min-width: 1000px) {
      .card__side {
        width: 21vw; } }
    @media (min-width: 1100px) {
      .card__side {
        width: 16vw; } }
    .card__side--front {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: #232836;
      background-color: #F5F3F5; }
      .card__side--front i {
        margin: 1rem 0 1rem 0;
        font-size: 7.5em; }
      .card__side--front p {
        color: #232836;
        font-size: .8em;
        padding-bottom: .5rem; }
    .card__side--back {
      display: flex;
      flex-flow: column;
      overflow: hidden;
      align-items: center;
      position: absolute;
      top: 0;
      background-color: #72AEC4;
      transform: rotateY(180deg); }
      .card__side--back h3 {
        margin-top: -.75rem;
        padding-top: .75rem;
        padding-bottom: .75rem;
        text-align: center;
        width: 100%;
        background: white;
        transform: skewY(-6deg) translateY(1rem); }
      .card__side--back .card-back-text {
        margin-top: .75rem;
        padding: 10%;
        line-height: 1.1em; }
        .card__side--back .card-back-text h4 {
          font-size: 1.1em;
          padding-bottom: .25rem; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
