@import url("https://fonts.googleapis.com/css?family=Baloo|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300|Raleway:500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-size: 16px; }

body {
  background: #F5F3F5; }

.u-margin-bottom-xs {
  margin-bottom: .25rem; }

.u-margin-bottom-sm {
  margin-bottom: .5rem; }

.u-margin-bottom-md {
  margin-bottom: .75rem; }

.u-margin-bottom-lg {
  margin-bottom: 1rem; }

.u-margin-bottom-xlg {
  margin-bottom: 1rem; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.header__logo-container {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2; }

.header__logo {
  height: 4rem; }

.header__shape {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(114, 174, 196, 0.4), #497499), url("/img/header-bg.jpg");
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 95vh;
  z-index: 1; }
  @media (min-height: 768px) {
    .header__shape {
      height: 70vh; } }

.header__titleBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 13rem;
  transform: translateX(-50%);
  margin-left: 50%;
  z-index: 2; }
  .header__titleBlock h1 {
    color: #F5F3F5;
    font-family: 'Baloo', cursive;
    font-size: 4em;
    text-align: left; }
  .header__titleBlock h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; }

.section__1 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-color: #F5F3F5;
  padding-bottom: 25%; }
  .section__1 h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    text-align: center; }

.section__2 {
  padding-top: 27%;
  margin-top: -25%;
  background-color: #232836;
  z-index: -1; }
  .section__2 h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: white; }

.section__3 {
  padding-top: 6rem;
  top: 315vh;
  background-color: green;
  z-index: -1; }
  .section__3 h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: white; }

@media (min-width: 650px) {
  .content {
    font-size: 1.5em; } }

.content__s1 {
  display: flex;
  flex-flow: row; }
  .content__s1 h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.75em; }
  .content__s1 p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em; }
  .content__s1--text {
    padding: 1.25rem 0rem 0rem 1.25rem; }
  .content__s1--img {
    padding: 1.25rem; }
    .content__s1--img h2 {
      text-align: right; }
    .content__s1--img p {
      text-align: right;
      padding-top: 1.25rem; }
    .content__s1--img img {
      width: 100%;
      padding-bottom: 1.25rem; }

.content__s2 {
  padding-top: 2rem; }
  .content__s2 h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em; }
  .content__s2 p {
    font-family: 'Lato', sans-serif;
    color: white; }

.rectangle {
  background-color: white;
  border-radius: 1rem; }
  .rectangle__1 {
    position: absolute;
    top: 5vh;
    left: 5vw;
    height: 25rem;
    width: 20rem; }
    .rectangle__1 i {
      font-size: 10em;
      color: white; }

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center; }
  @media (min-width: 550px) {
    .card-container {
      flex-flow: column;
      align-items: center; } }

.card-row {
  display: flex;
  flex-flow: column;
  width: 45vw;
  height: 100%;
  margin: .25rem; }
  @media (min-width: 550px) {
    .card-row {
      flex-flow: row;
      justify-content: space-evenly;
      width: 100%; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  margin: .25rem; }
  .card__side {
    padding-top: .25rem;
    height: 100%;
    max-height: 20rem;
    width: 100%;
    transition: all .8s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem; }
    @media (min-width: 550px) {
      .card__side {
        width: 28vw; } }
    .card__side--front {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: #232836;
      background-color: #F5F3F5; }
      .card__side--front i {
        margin: 1rem 0 1rem 0;
        font-size: 7.5em; }
      .card__side--front p {
        color: #232836;
        font-size: .8em;
        padding-bottom: .5rem; }
    .card__side--back {
      position: absolute;
      top: 0;
      background-color: #72AEC4;
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
