.card-container {
    width: 100%;
    height: 100%;
}

.col {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
}

.card-row {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    margin-bottom: 1rem;

    &__side {
        width: 10rem;
        height: 15rem;
        transition: all .8s;
        backface-visibility: hidden;
        border-radius: 1rem;
        padding: .25rem;

        &--front {
            display: flex;
            flex-flow: column;
            justify-content: center;
            text-align: center;

            color: $c-dark;

            & i {
                font-size: 10em;
            }

            & p {
                color: $c-dark;
            }

            background-color: $c-light;
        }

        &--back {
            position: absolute;
            top: 0;
            background-color: $c-light-accent;
            transform: rotateY(180deg);
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
    
}