@import url('https://fonts.googleapis.com/css?family=Baloo|Montserrat&display=swap');

.header {
position: relative;
    &__logo-container{ 
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        @include z-index(logo);
    }

    &__logo{
        height: 4rem;
    }

    &__shape {
        position: relative;
        background-image: linear-gradient(to right bottom, $c-light-accent-transparent, $c-main-transparent), url('/img/header-bg.jpg');
        background-position: center;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        height: 95vh;
        @include z-index(img)
    }

    &__titleBlock {
        width: 90%;
        position: absolute;
        top: 13rem;
        @include z-index(title);
        transform: translateX(-50%);
        margin-left: 50%;

        & h1 {
            color: $c-light;
            font-family: 'Baloo', cursive;
            font-size: 4em;
            text-align: left;
            padding-left: 1rem;
        }

        & h2 {
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            text-align: center;
        }

    }
};
