@import url('https://fonts.googleapis.com/css?family=Baloo|Montserrat&display=swap');

.header {
    position: relative;

    &__logo-container {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        @include z-index(logo);
    }

    &__logo {
        height: 4rem;
    }

    &__shape {
        position: relative;
        background-image: linear-gradient(to right bottom, $c-light-accent-transparent, $c-main-transparent), url('/img/header-bg.jpg');
        background-position: center;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        height: 95vh;

        @include breakpointHeight(768px) {
            height: 75vh;
        }
        @include breakpointHeight(1000px) {
            height: 55vh;
        }
        @include breakpointHeight(1200px) {
            height: 48vh;
        }

        @include z-index(img)
    }

    &__titleBlock {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 13rem;
        transform: translateX(-50%);
        margin-left: 50%;
        @include z-index(title);


        & h1 {
            color: $c-light;
            font-family: 'Baloo', cursive;
            font-size: 4em;
            text-align: left;
            padding-left: 1rem;
        }

        & h2 {
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            max-width: 85%;
        }

    }
}

;