.rectangle {
    background-color: white;
    border-radius: 1rem;
    @include z-index(rectanlges);

    &__1 {

        & i {
            font-size: 10em;
            color: white;
        }

        position: absolute;
        top: 5vh;
        left: 5vw;
        height: 25rem;
        width: 20rem;
    }
}