@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway:500&display=swap');

.section {
    width: 100%;
    position: absolute;

    &__1 {

        & h1 {
            font-family: 'Amatic SC', cursive;
            font-size: 2em;
            text-align: center;
        }

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        background-color: $c-light;
        height: 85vh;

        @include breakpoint(675px_high) {
            height: 75vh;
        }

        @include breakpoint(768px_high) {
            height: 65vh;
        }
        @include breakpoint(900px_high) {
            height: 60vh;
        }
    }

    &__2 {

        & h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 2.5em;
            text-align: center;
            color: white;
        }

        padding-top: 6rem;
        top: 165vh;

        background-color: $c-dark;
        @include z-index(section2);

        @include breakpoint(675px_high) {
            top: 155vh;
        }
        @include breakpoint(768px_high) {
            top: 130vh;
        }
        @include breakpoint(900px_high) {
            top: 125vh;
        }
    }

    &__3 {

        & h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 2.5em;
            text-align: center;
            color: white;
        }

        padding-top: 6rem;
        top: 315vh;
        background-color: green;
        @include z-index(section2);
    }

}

;