@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans:300&display=swap');

.section {
    width: 100%;

    & h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 2em;
    }
    
    & h2 {
        font-family: 'Amatic SC', cursive;
        font-size: 1.75em;
    }

    & p {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1em;
    }

    &__1 {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 80%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 80%);
        & h1 {
            text-align: center;
        }

        position: absolute;
        top: 80vh;
        background-color: $c-light;
        height: 100vh;
        padding-top: 7rem;
    }

    &__2 {
        position: relative;
        top: 79vh;
        background-color: $c-main;
        height: 100vh;
        @include z-index(section2)
    }

}

;