.content-3__container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.content-3__text{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.content-3__row {
    display: flex;
    flex-flow: row;
    width: 100%;
}