@import './containers';

@mixin content__3 {
    &__3 {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        height: 100%;
        h2, h3 {
            font-family: 'Oswald', sans-serif;
        }
        
        & h2 {
            font-size: 1.5em;
        }
        
        & p{
            font-family: 'Open Sans', sans-serif;
        }
        
    }
}