@import './containers';

@mixin content__3 {
    padding: 5%;
    &__3 {
        h2,
        h3 {
            font-family: 'Oswald', sans-serif;
        }

        & h2 {
            font-size: 1.5em;
        }

        & p {
            font-family: 'Open Sans', sans-serif;
        }

        h3{
            margin-bottom: 1rem;
        }

        h3:nth-of-type(2){
            text-align: right;
        }

    }
}