@mixin section__3 {
    &__3 {

        & h1 {
            font-family: 'Oswald', sans-serif;
            text-align: center;
            color: white;
            padding-bottom: 1rem;
        }

        padding-top: 1rem;
        background-color: $c-light-accent;
    }
}
