@mixin section__2 {
    &__2 {

        & h1 {
            font-family: 'Raleway', sans-serif;
            text-align: center;
            color: white;
        }

        padding-top: 27%;
        margin-top: -25%;
        background-color: $c-dark;
        
        @include z-index(section2);
    }
}

;