$z-index: (
  logo:2,
  title: 2,
  img: 1,
  rectangles: 1,
  section2: -1,
);

@function z-index($value) {
  @return map-get($z-index, $value);
}

@mixin z-index($value) {
  z-index: z-index($value);
}