.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    margin: .25rem;

    &__side {
        padding-top: .25rem;
        height: 98%;
        width: 100%;
        max-height: 20rem;
        transition: all .8s;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 1rem;

        @include breakpointWidth(550px) {
            width: 28vw;
        }

        @include breakpointWidth(1000px) {
            width: 21vw;
        }
        
        @include breakpointWidth(1100px) {
            width: 16vw;
        }

        &--front {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            color: $c-dark;

            & i {
                margin: 1rem 0 1rem 0;
                font-size: 7.5em;
            }

            & p {
                color: $c-dark;
                font-size: .8em;
                padding-bottom: .5rem;
            }

            background-color: $c-light;
        }

        &--back {
            display: flex;
            flex-flow: column;
            overflow: hidden;

            align-items: center;
            position: absolute;
            top: 0;

            background-color: $c-light-accent;
            transform: rotateY(180deg);

            & h3 {
                margin-top: -.75rem;
                // border: .5px solid black;
                padding-top: .75rem;
                padding-bottom: .75rem;
                text-align: center;
                width: 100%;
                background: white;
                transform: skewY(-6deg) translateY(1rem);
            }

            & .card-back-text {
                & h4{ 
                    font-size: 1.1em;
                    padding-bottom: .25rem;
                }
                margin-top: .75rem;
                padding: 10%;
                line-height: 1.1em;
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}